doctype html
html
  head
    title User List
    link(rel="stylesheet" href="/styles.css")
  body(class="body")
    h1 FitTrack
    
    h2 Login
    form(action="/" method="POST")
      label(for="username") Username:
      input(type="text" name="username" id="username" required)
      label(for="email") email:
      input(type="text" name="email" id="email" required)
      button(type="submit") Login
      a(href=`/signup`) Sign up