html
  head
    title Edit post
    link(rel="stylesheet" href="/styles.css")
  body(class="body")
  h1 FitTrack
  a(href=`/workout`) workout
  a(href=`/meals`) meals
  p Welcome 
   
    


  h2 users
  table(style='width:100%', border='1')
    thead
        tr 
        th UserName
        th Height
        th Weight
    tbody
       each user in users
        tr
            td #{user.username}
            td #{user.height}
            td #{user.weight}