.inline-elements {
	display: flex;
	gap: 10px;
}
.inline {
	display: inline-block;
}
.title {
	font-size: 25px;
	color: palevioletred;
}
.body {
	margin: auto;
	text-align: center;
}
h1 {
	text-align: center;
}
form label,
form input,
form button,
form a {
	/* display: block; */
	margin-bottom: 10px;
}
table {
	margin: auto;
}
.nav {
	padding: 50px;
}
